* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

:root {
    --head-foot-background: #131A22;
    --text-color1: #232F3E;
    --accent1: #146EB4;
    --main-background: #FFFFFF;
    --section-background: #FF9900;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--main-background);
}

main {
    flex: 1;
}

header,
footer {
    background-color: var(--head-foot-background);
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

section {
    position: relative;
    padding: .75rem;
    border: 1px solid;
    margin: .25rem;
}

section ul {
    padding-left: 2rem;
}

h2 {
    background-color: var(--section-background);
    padding: .5rem;
    border-radius: .75rem;
}

p {
    padding-left: 1rem;
}

img {
    padding: 1rem;
    border-radius: 20px;
}