* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, footer{
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategrey;
    color: white;
    margin: 0;
}

img {
    display: block;
    padding: 1rem;
    margin: 0 auto;
    animation: fade 5s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}