* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(150px, 60%) 1fr;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    background: darkslategray;
    padding: 2rem;
    grid-column: 1 / 3;
    color: white;
}

header {
    position: relative;
    text-align: start;
    padding-top: 1rem;
}

nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

h1 {
    padding-bottom: 30px;
}

footer {
    text-align: center;
    padding-top: 1rem;
}

.navigation {
    list-style: none;
    display: flex;
    background-color: black;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.main-content {
    background: grey;
    grid-column: 1 / 2;
    padding: 15px;
}

.aside-content {
    background: white;
    grid-column: 2 / 3;
    padding: 15px;
}