* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 3fr auto;
}

header,
span {
    display: block;
    text-align: center;
}

header,
footer {
    background: darkslategray;
    color: white;
}

span {
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;

}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    text-decoration: overline;
}

main {
    display: grid;
    grid-template-rows: 0.25fr 3fr;
    grid-template-columns: 2fr 1fr;
    flex-grow: 1;
    height: auto;
    width: 95%;
    margin: 0 auto;
    background: lightgray;
}

h1 {
    grid-column: 1 / 3;
    text-align: center;
    padding-top: 10px;
}

.card {
    display: block;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 1rem;
    height: auto;
}

.first-card {
    display: grid;
    align-items: center;
}

.card img p {
    align-items: center;
}

p {
    text-align: justify;
    padding: 10px;
}

.pics img{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    border-radius: 1rem;
}

h4 {
    padding: 10px;
    text-align: center;
}

.flag {
    float: left;
    padding: 10px;
}

.flag-card {
    margin: 2rem;
}

.profile-pic {
    float: right;
    padding: 10px;
    border-radius: 1rem;
}

h3 {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    height: 25px;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer p span{
    display: inline;
    margin: 5px 0;
}