@media (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    header p {
        margin-bottom: 0;
        font-size: 1.8rem;
    }
    
    nav a {
        border-top: none;
        padding: 0.75rem 1.5rem;
    }
    
    nav a:last-child {
        border-right: none;
    }
    
    #temple-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    #hamburger {
        display: none;
    }
    
    main h1 {
        grid-column: 1 / -1;
    }
    
}

@media (min-width: 800px) {
    header  {
        align-items: center;
    }

    header p {
        margin-bottom: 0;
    }
    
    #temple-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    
    main h1 {
        grid-column: 1 / -1;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: auto;
    }
    
    #hamburger {
        display: none;
    }
}