:root {
    --primary-color: #009739;
    --secondary-color: #002776;
    --accent-color: #FEDD00;
    --text-color: #1a1a1a;
    --background-color: #ffffff;
    --light-background: #f5f5f5;
    --font: 'Arial', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

h1,
h2
{
font-family: var(--font);
padding: 1rem 0;
}

h1 {
    color: var(--accent-color);
}

h2 {
    text-align: center;
    padding-left: 10px;
    color: var(--text-color);
}

ul li {
    list-style: none;
    padding: 2px;
    margin: 2px;
    line-height: 1.6;
}

header,
footer {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    text-align: center;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.hero {
    width: 100%;
    height: auto;
    display: block;
}

.hero img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

section {
    background-color: var(--accent-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section img {
    width: 60px;
    height: 80px;
}