:root {
    --border: 1rem;
    --primary: #009739;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    position: relative;
}

.hero img {
    max-width: 1000px;
}

section {
    border-radius: var(--border);
    background-color: rgba(245, 245, 245, 0.9);
}

.data h2, .weather h2 {
    margin-left: -1rem;
    background-color: rgba(0, 151, 57, .9);
    max-width: 75%;
    margin-top: 0.5rem;
}

section ul {
    padding: 0 10px;
}

.data {
    position: absolute;
    top: 30px;
    left: 20px;
}

.weather {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.weather img {
    display: none;
}

.weather h2::after {
    content: "⛅";
    font-size: 1.5rem;
    margin-left: 0.5rem;
}